In [7]:
import pandas as pd
jeopardy_data = pd.read_csv("C:/Users/vishal/Desktop/Projects/Python Projects/jeopardy_starting/jeopardy.csv")

In [12]:
print(jeopardy_data.head())
#print(jeopardy_data.columns)

   Show Number    Air Date      Round                         Category Value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY  $200
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $200
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $200
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE  $200
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES  $200

                                            Question      Answer
0  For the last 8 years of his life, Galileo was ...  Copernicus
1  No. 2: 1912 Olympian; football star at Carlisl...  Jim Thorpe
2  The city of Yuma in this state has a record av...     Arizona
3  In 1963, live on "The Art Linkletter Show", th...  McDonald's
4  Signer of the Dec. of Indep., framer of the Co...  John Adams
Index(['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question',
       'Answer'],
      dtype='object')

In [18]:
jeopardy_data = jeopardy_data.rename(columns = {" Air Date": "Air Date", " Round" : "Round", " Category": "Category", " Value": "Value", " Question":"Question", " Answer": "Answer"})
#print(jeopardy_data.columns)
print(jeopardy_data["Question"])

0         For the last 8 years of his life, Galileo was ...
1         No. 2: 1912 Olympian; football star at Carlisl...
2         The city of Yuma in this state has a record av...
3         In 1963, live on "The Art Linkletter Show", th...
4         Signer of the Dec. of Indep., framer of the Co...
                                ...
216925    This Puccini opera turns on the solution to 3 ...
216926    In North America this term is properly applied...
216927    In Penny Lane, where this "Hellraiser" grew up...
216928    From Ft. Sill, Okla. he made the plea, Arizona...
216929    A silent movie title includes the last name of...
Name: Question, Length: 216930, dtype: object

In [16]:
def filter_data(data, words):
  # Lowercases all words in the list of words as well as the questions. Returns true is all of the words in the list appear in the question.
  filter = lambda x: all(word.lower() in x.lower() for word in words)
  # Applies the labmda function to the Question column and returns the rows where the function returned True
  return data.loc[data["Question"].apply(filter)]

In [19]:
filtered = filter_data(jeopardy_data, ["King", "England"])
print(filtered["Question"])

4953      Both England's King George V & FDR put their s...
6337      In retaliation for Viking raids, this "Unready...
9191      This king of England beat the odds to trounce ...
11710     This Scotsman, the first Stuart king of Englan...
13454     It's the number that followed the last king of...
                                ...
208295    In 1066 this great-great grandson of Rollo mad...
208742    Dutch-born king who ruled England jointly with...
213870    In 1781 William Herschel discovered Uranus & i...
216021    His nickname was "Bertie", but he used this na...
216789    This kingdom of England grew from 2 settlement...
Name: Question, Length: 152, dtype: object

In [20]:
# Adding a new column. If the value of the float column is not "None", then we cut off the first character (which is a dollar sign), and replace all commas with nothing, and then cast that value to a float. If the answer was "None", then we just enter a 0.
jeopardy_data["Float Value"] = jeopardy_data["Value"].apply(lambda x: float(x[1:].replace(',','')) if x != "None" else 0)

In [21]:
# Filtering the dataset and finding the average value of those questions
filtered = filter_data(jeopardy_data, ["King"])
print(filtered["Float Value"].mean())

771.8833850722094

In [22]:
# A function to find the unique answers of a set of data
def get_answer_counts(data):
    return data["Answer"].value_counts()

In [23]:
# Testing the answer count function
print(get_answer_counts(filtered))

Henry VIII                  55
Solomon                     35
Richard III                 33
Louis XIV                   31
David                       30
                            ..
guacamole                    1
a sweat                      1
Sweeney Todd                 1
The Conversation             1
Soviet Union/USSR/Russia     1
Name: Answer, Length: 5268, dtype: int64